:root {
    background-color: black;
    font-size: 62.5%;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(162, 248, 48);
}


h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.4rem;
    margin-bottom: 5rem;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-size: 700;
}

h3 {
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

h3 > span {
    font-size: 2.2rem;
    margin: 0.2rem;
    padding: 0.6rem;
    background-color: rgb(69, 136, 212);
}

.head-up {
    font-size: 2rem;
    padding: 0.5rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70rem;
    margin: 0 auto;
    padding: 2rem;
    flex-direction: column;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid rgb(162, 248, 48);
    margin-bottom: 1rem;
    text-decoration: none;
    background-color: rgb(15, 15, 15);
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(162, 248, 48);
    transform: translateY(0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
}

#head-up {
    /* border: .1rem solid red; */
    margin: 2.5rem;
    font-size: 2rem;
    font-weight: 500;
    padding: 0.5rem;
    display: inline-flex;
}

#progress-bar {
    height: 4rem;
    width: 20rem;
    border: 0.1rem solid rgb(162, 248, 48);
    margin: 1rem;
}
#progress {
    width: 0;
    height: 100%;
    background-color: rgb(162, 248, 48);
}


/* end form */

form{
    display: flex;
    flex-direction: column;
}

input {
    width: 20rem;
    height: 4rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

/* table  */

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 5rem;
}

table, th, td {
  border: 0.1rem solid rgb(162, 248, 48);
}

th {
    height: 4rem;
    font-weight: 500;
}

td {
    height: 4rem;
}